{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block header %}
    <a id="logo" href="https://github.com/nelmio/NelmioApiDocBundle">
        <img src="{{ asset('img/logo-personal.png') }}" alt="Julian Dominguez">
    </a>
{% endblock header %}